<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HMO Member</title>
</head>
<body>
<form th:action="@{/hmomember}">
    <label>First Name:</label>
    <input type="text" name="firstName"><br>
    <label>Last Name:</label>
    <input type="text" name="last"><br>
    <label>ID:</label>
    <input type="text" name="id"><br>
    <label>City Address:</label>
    <input type="text" name="cityAddress"><br>
    <label>Street Address:</label>
    <input type="text" name="streetAddress"><br>
    <label>Building Number:</label>
    <input type="text" name="buildingNumber"><br>
    <label>Date Of Birthday:</label>
    <input type="text" name="dateOfBirth"><br>
    <label>Phone:</label>
    <input type="text" name="phone"><br>
    <label>Mobile Phone:</label>
    <input type="text" name="mobilePhone"><br>
    <label>Image</label>
    <input type="file" name="image"><br>
    <input type="submit" value="Add Member">
</form>

<!--<a href="#" class="image"><img src="/img/man.png" alt=""></a>-->
</body>
</html>
